@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form  action="Home/Privacy" method="post">
        Pesquisar: <input type="text" name="nome" />&nbsp;
        <input type="submit" name="Pesquisar" value="Pesquisar" />
    </form>
</div>

@{
    var lista = ViewBag.Titulo;
}

<ul>
    @if (lista != null)
    {
        foreach (var item in lista)
        {
            <li>@item</li>
        }
    }
    else
    {
        <li>Lista está vazia ou não foi encontrada</li>
    }
</ul>
